# ============== MySQL配置 ===============
MYSQL_PORT=5506
MYSQL_PASSWORD=your_mysql_password

# ============== Redis配置 ===============
REDIS_HOST=127.0.0.1
REDIS_PORT=6479
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password

# ============== 前端配置 ===============
FRONTEND_URL=http://localhost:3000
FRONTEND_MAX_AGE=3600

# ============== MinIO配置 ===============
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_HOST=127.0.0.1
MINIO_API_PORT=9010
MINIO_CONSOLE_PORT=9011
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET_NAME=files
